/* Style the Sticky icons on web page */
.stickyicon-list {
  display: flex;
  text-align: center;
  padding-top: 20px;
  transition: all 0.01s ease-in-out;
}
.stickyicon-list a {
  padding: 8px 11px;
  margin: 9px;
  color: white;
  border-radius: 50%;
}
.stickyicon-list a:hover {
  background: transparent;
  background-image: linear-gradient(to bottom, #cda504, #c39f0e);
}
.facebook {
  background: #3b5998;
}
.google {
  background: #4285f4;
}
.linkedin {
  background: #0077b5;
}
.instagram {
  background-image: linear-gradient(to bottom, #8a3ab9, #bc2a8d, #cd486b);
}

.img1 {
  height: 30em !important;
  width: auto;
}

/* Style the Image Used to Trigger the Modal */
#myImg1 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg1:hover {
  opacity: 0.7;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 2% !important; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden !important;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto !important;
  padding: auto !important;
  display: flex;
  width: auto;
  max-width: 100em;
  height: 40em;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
/* #caption {
  margin: 10%;
  display: flex;
  width: auto;
  max-width: 100em;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 40em;
} */

/* Add Animation - Zoom in the Modal */
.modal-content
/* ,#caption */ {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
